
.header_button{
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #1EBABA;

    height: 50%;
    width: 20%;
    position: relative;
    top: 20%


}

.white{
    color:white;
}

#buttons_div{
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    flex: 3


}

#logo_image{
    width: 135px;
    height: 100%;

}
#logo_div{
    flex:1;
    margin-left: 5%;

}

#header{
    display: flex;
    flex-direction: row;
    background-color: #1EBABA;
    justify-content: space-around;
    height:  45px;
}